In [1]:
import os
import pandas as pd
from nc_explorer import NcExplorer

In [2]:
work_dir = 'D:\processing\\'
point_file = 'points.txt'

In [3]:
snap_gc_points = pd.read_csv(work_dir+point_file, sep='\t', skiprows=(0,1,2,3,4))
snap_gc_points

,Name,X,Y,Lon,Lat,Delta Lon,Delta Lat,Label,Desc
0,gcp_2,4680.5,141.5,-58.149705,-2.985699,0.000734,0.001379,GCP 2,NaN
1,gcp_3,4403.5,312.5,-58.904525,-3.284106,0.000964,0.000208,GCP 3,NaN
2,gcp_4,4409.5,435.5,-58.960732,-3.606903,0.001058,0.000232,GCP 4,NaN
3,gcp_6,3934.5,420.5,-60.078984,-3.317089,0.000950,0.001626,GCP 6,NaN
4,gcp_7,3661.5,1446.5,-61.319945,-5.839723,0.001453,0.000439,GCP 7,NaN
5,gcp_8,4075.5,1797.5,-60.536226,-6.971325,0.003439,0.000921,GCP 8,NaN
6,gcp_9,2458.5,1598.5,-64.269349,-5.587854,0.002210,0.000398,GCP 9,NaN
7,gcp_10,2197.5,840.5,-64.441170,-3.479314,0.000512,0.000925,GCP 10,NaN
8,gcp_11,596.5,1133.5,-68.405969,-3.361451,0.000184,0.001097,GCP 11,NaN
9,gcp_12,2478.5,3384.5,-65.295901,-10.231528,0.003066,0.000447,GCP 12,NaN

In [5]:
file_name = work_dir + 'S3A_OL_1_EFR____20190830T140112_20190830T140412_20190831T183009_0179_048_338_3060_LN1_O_NT_002.SEN3'

In [6]:
exp = NcExplorer(input_nc_folder=file_name, 
                 verbose=True)

Declaring class instance from: S3-FRBR:Nc_Explorer
Verbose set to True.

In [7]:
lon, lat = exp.get_lon_lat_from_nc()

S3-FRBR:Nc_Explorer.get_lon_lat_from_nc()
Extracting Lon/Lat dataframes from:
D:\processing\S3A_OL_1_EFR____20190830T140112_20190830T140412_20190831T183009_0179_048_338_3060_LN1_O_NT_002.SEN3
Longitude shape: (4091, 4865), size: 19902715
Latitude shape: (4091, 4865), size: 19902715
Done in 0h:0m:1s

In [8]:
valid_nc_band_names = exp.get_valid_band_files()
valid_nc_band_names

S3-FRBR:Nc_Explorer.get_valid_band_files()
Sentinel-3 Image folder:
D:\processing\S3A_OL_1_EFR____20190830T140112_20190830T140412_20190831T183009_0179_048_338_3060_LN1_O_NT_002.SEN3
Total files in folder: 30
Total NetCDF files: 29
Total S3 "Oa" bands: 21

['Oa01_radiance.nc',
 'Oa02_radiance.nc',
 'Oa03_radiance.nc',
 'Oa04_radiance.nc',
 'Oa05_radiance.nc',
 'Oa06_radiance.nc',
 'Oa07_radiance.nc',
 'Oa08_radiance.nc',
 'Oa09_radiance.nc',
 'Oa10_radiance.nc',
 'Oa11_radiance.nc',
 'Oa12_radiance.nc',
 'Oa13_radiance.nc',
 'Oa14_radiance.nc',
 'Oa15_radiance.nc',
 'Oa16_radiance.nc',
 'Oa17_radiance.nc',
 'Oa18_radiance.nc',
 'Oa19_radiance.nc',
 'Oa20_radiance.nc',
 'Oa21_radiance.nc']

In [9]:
bands = exp.extract_data_from_netcdf_bands(valid_nc_band_names)

S3-FRBR:Nc_Explorer.extract_data_from_netcdf_bands()
extracting band: Oa01_radiance.nc -- 1 of 21
extracting band: Oa02_radiance.nc -- 2 of 21
extracting band: Oa03_radiance.nc -- 3 of 21
extracting band: Oa04_radiance.nc -- 4 of 21
extracting band: Oa05_radiance.nc -- 5 of 21
extracting band: Oa06_radiance.nc -- 6 of 21
extracting band: Oa07_radiance.nc -- 7 of 21
extracting band: Oa08_radiance.nc -- 8 of 21
extracting band: Oa09_radiance.nc -- 9 of 21
extracting band: Oa10_radiance.nc -- 10 of 21
extracting band: Oa11_radiance.nc -- 11 of 21
extracting band: Oa12_radiance.nc -- 12 of 21
extracting band: Oa13_radiance.nc -- 13 of 21
extracting band: Oa14_radiance.nc -- 14 of 21
extracting band: Oa15_radiance.nc -- 15 of 21
extracting band: Oa16_radiance.nc -- 16 of 21
extracting band: Oa17_radiance.nc -- 17 of 21
extracting band: Oa18_radiance.nc -- 18 of 21
extracting band: Oa19_radiance.nc -- 19 of 21
extracting band: Oa20_radiance.nc -- 20 of 21
extracting band: Oa21_radiance.nc -- 21 of 21
Done in 0h:0m:12s

In [11]:
query_lon, query_lat = -60.014493, -3.158980

mat_x_y, band_radiances = exp.get_radiance_in_bands(bands, lon, lat, query_lon, query_lat)

band_radiances

S3-FRBR:Nc_Explorer.get_radiance_in_bands()

[67.50086,
 70.4036,
 63.13378,
 49.661945,
 44.075905,
 33.392323,
 25.636333,
 22.45693,
 21.940262,
 21.352966,
 18.799805,
 17.207045,
 5.7350826,
 8.884782,
 14.370531,
 15.377743,
 11.403182,
 10.71876,
 6.5219254,
 1.9680593,
 7.2699666]

In [34]:
rad_by_points = snap_gc_points[['Lon','Lat']]

rad_by_points['Rad'] = rad_by_points[['Lon','Lat']].apply()

TypeError: 'str' object is not callable