In [34]:
from nc_explorer import NcExplorer as exp
import pandas as pd

In [35]:
work_dir = 'D:\processing\\'
file_name = work_dir + 'S3A_OL_1_EFR____20190830T140112_20190830T140412_20190831T183009_0179_048_338_3060_LN1_O_NT_002.SEN3'
point_file = 'points.txt'

In [36]:
snap_gc_points = pd.read_csv(work_dir+point_file, sep='\t', skiprows=(0,1,2,3,4))
snap_gc_points

,Name,X,Y,Lon,Lat,Delta Lon,Delta Lat,Label,Desc
0,gcp_2,4680.5,141.5,-58.149705,-2.985699,0.000734,0.001379,GCP 2,NaN
1,gcp_3,4403.5,312.5,-58.904525,-3.284106,0.000964,0.000208,GCP 3,NaN
2,gcp_4,4409.5,435.5,-58.960732,-3.606903,0.001058,0.000232,GCP 4,NaN
3,gcp_6,3934.5,420.5,-60.078984,-3.317089,0.000950,0.001626,GCP 6,NaN
4,gcp_7,3661.5,1446.5,-61.319945,-5.839723,0.001453,0.000439,GCP 7,NaN
5,gcp_8,4075.5,1797.5,-60.536226,-6.971325,0.003439,0.000921,GCP 8,NaN
6,gcp_9,2458.5,1598.5,-64.269349,-5.587854,0.002210,0.000398,GCP 9,NaN
7,gcp_10,2197.5,840.5,-64.441170,-3.479314,0.000512,0.000925,GCP 10,NaN
8,gcp_11,596.5,1133.5,-68.405969,-3.361451,0.000184,0.001097,GCP 11,NaN
9,gcp_12,2478.5,3384.5,-65.295901,-10.231528,0.003066,0.000447,GCP 12,NaN