In [3]:
import os
import sys
import pandas as pd
import numpy as np

sys.path.append('../')

from tsgen import TsGenerator

tsgen = TsGenerator()

In [7]:
file = 'S3A_OL_2_WFR____20191104T135002_20191104T135302_20191124T134508_0179_051_124_3060_MAR_O_NT_002_subset.txt'
path = 'D:\\S3\\L2_WFR_subset\\MANACAPURU'
pathfile = os.path.join(path, file)

In [8]:
df = pd.read_csv(pathfile, sep='\t', skiprows=1)

_, fdf = tsgen.update_csvs(csv_path=pathfile, threshold=0.2)

Calculating GLINT column...

In [9]:
df.head()

,featureId,Oa01_reflectance:float,Oa01_reflectance_err:float,Oa02_reflectance:float,Oa02_reflectance_err:float,Oa03_reflectance:float,Oa03_reflectance_err:float,Oa04_reflectance:float,Oa04_reflectance_err:float,Oa05_reflectance:float,...,atmospheric_temperature_profile_pressure_level_22:float,atmospheric_temperature_profile_pressure_level_23:float,atmospheric_temperature_profile_pressure_level_24:float,atmospheric_temperature_profile_pressure_level_25:float,horizontal_wind_vector_1:float,horizontal_wind_vector_2:float,humidity:float,sea_level_pressure:float,total_columnar_water_vapour:float,total_ozone:float
0,0,1.000018,1.000018,1.000018,1.000018,1.000018,1.000018,1.000018,1.000018,1.000018,...,246.58904,258.29288,260.20795,260.83896,-0.140184,-0.032727,77.214260,1010.99524,49.837210,0.005812
1,1,1.000018,1.000018,1.000018,1.000018,1.000018,1.000018,1.000018,1.000018,1.000018,...,246.58737,258.29526,260.20440,260.83917,-0.144765,-0.031654,77.207710,1010.99480,49.835526,0.005812
2,2,1.000018,1.000018,1.000018,1.000018,1.000018,1.000018,1.000018,1.000018,1.000018,...,246.58571,258.29764,260.20090,260.83942,-0.149346,-0.030580,77.201170,1010.99445,49.833840,0.005813
3,3,1.000018,1.000018,1.000018,1.000018,1.000018,1.000018,1.000018,1.000018,1.000018,...,246.58405,258.30002,260.19736,260.83963,-0.153927,-0.029507,77.194626,1010.99400,49.832157,0.005813
4,4,1.000018,1.000018,1.000018,1.000018,1.000018,1.000018,1.000018,1.000018,1.000018,...,246.58238,258.30243,260.19385,260.83984,-0.158509,-0.028433,77.188080,1010.99360,49.830470,0.005813

In [10]:
fdf.head()

,featureId,Oa01_reflectance:float,Oa01_reflectance_err:float,Oa02_reflectance:float,Oa02_reflectance_err:float,Oa03_reflectance:float,Oa03_reflectance_err:float,Oa04_reflectance:float,Oa04_reflectance_err:float,Oa05_reflectance:float,...,horizontal_wind_vector_1:float,horizontal_wind_vector_2:float,humidity:float,sea_level_pressure:float,total_columnar_water_vapour:float,total_ozone:float,PCTVLDPX,FLAGS,QUALITY,GLINT
0,2430,0.032093,0.001331,0.032606,0.001257,0.041432,0.001038,0.054543,0.000745,0.062764,...,-0.547978,0.029913,76.847820,1010.86780,49.929535,0.00586,3916,"[LAND, INLAND_WATER, OCNN_FAIL, BPAC_ON, HIGHRW]",1,50.989169
1,2431,0.027937,0.001367,0.029163,0.001276,0.038868,0.001056,0.052748,0.000763,0.060915,...,-0.550839,0.031382,76.837240,1010.86743,49.930950,0.00586,3916,"[LAND, INLAND_WATER, OCNN_FAIL, BPAC_ON, HIGHRW]",1,50.967464
2,2432,0.030445,0.000470,0.031782,0.000415,0.041725,0.000378,0.053975,0.000378,0.062233,...,-0.553700,0.032850,76.826660,1010.86710,49.932360,0.00586,3916,"[LAND, INLAND_WATER, OCNN_FAIL, BPAC_ON, HIGHRW]",1,50.945763
3,2779,0.028065,0.001367,0.028578,0.001294,0.037953,0.001056,0.051851,0.000763,0.059633,...,-0.538599,0.023251,76.952354,1010.86926,49.938293,0.00586,3916,"[LAND, INLAND_WATER, OCNN_FAIL, BPAC_ON, HIGHRW]",1,51.053750
4,2781,0.029493,0.001349,0.030866,0.001276,0.039802,0.001038,0.053114,0.000745,0.060860,...,-0.544300,0.026152,76.931816,1010.86865,49.940940,0.00586,3916,"[LAND, INLAND_WATER, OCNN_FAIL, BPAC_ON, HIGHRW]",1,51.010344

In [25]:
fdf_row = fdf[fdf['featureId'] == 2430]

In [26]:
df_row = df[df['featureId'] == 2430]

In [28]:
df_row

,featureId,Oa01_reflectance:float,Oa01_reflectance_err:float,Oa02_reflectance:float,Oa02_reflectance_err:float,Oa03_reflectance:float,Oa03_reflectance_err:float,Oa04_reflectance:float,Oa04_reflectance_err:float,Oa05_reflectance:float,...,atmospheric_temperature_profile_pressure_level_22:float,atmospheric_temperature_profile_pressure_level_23:float,atmospheric_temperature_profile_pressure_level_24:float,atmospheric_temperature_profile_pressure_level_25:float,horizontal_wind_vector_1:float,horizontal_wind_vector_2:float,humidity:float,sea_level_pressure:float,total_columnar_water_vapour:float,total_ozone:float
2430,2430,0.032093,0.001331,0.032606,0.001257,0.041432,0.001038,0.054543,0.000745,0.062764,...,245.8561,259.0864,260.14877,260.89713,-0.547978,0.029913,76.84782,1010.8678,49.929535,0.00586

In [29]:
fdf_row

,featureId,Oa01_reflectance:float,Oa01_reflectance_err:float,Oa02_reflectance:float,Oa02_reflectance_err:float,Oa03_reflectance:float,Oa03_reflectance_err:float,Oa04_reflectance:float,Oa04_reflectance_err:float,Oa05_reflectance:float,...,horizontal_wind_vector_1:float,horizontal_wind_vector_2:float,humidity:float,sea_level_pressure:float,total_columnar_water_vapour:float,total_ozone:float,PCTVLDPX,FLAGS,QUALITY,GLINT
0,2430,0.032093,0.001331,0.032606,0.001257,0.041432,0.001038,0.054543,0.000745,0.062764,...,-0.547978,0.029913,76.84782,1010.8678,49.929535,0.00586,3916,"[LAND, INLAND_WATER, OCNN_FAIL, BPAC_ON, HIGHRW]",1,50.989169

In [39]:
df_row[['OZA:float','SZA:float','SAA:float','OAA:float']]

      OZA:float  SZA:float  SAA:float   OAA:float
2430  20.494413  30.794565  114.95185  102.711975

In [38]:
fdf_row[['OZA:float','SZA:float','SAA:float','OAA:float','GLINT']]

   OZA:float  SZA:float  SAA:float   OAA:float      GLINT
0  20.494413  30.794565  114.95185  102.711975  50.989169

In [45]:
df_row['SAA:float'] - df_row['OAA:float']

2430    12.239875
dtype: float64