In [1]:
from sklearn.externals.six import StringIO

ModuleNotFoundError: No module named 'sklearn.externals.six'

In [4]:
import pandas as pd
import numpy as np

In [50]:
df = pd.DataFrame({'Oa08_reflectance:float': [0, -1, 2], 'Oa12_reflectance:float': [-3, 2, 1],
                           'c': ['foo', 'goo', 'bar']})

df

   Oa08_reflectance:float  Oa12_reflectance:float    c
0                       0                      -3  foo
1                      -1                       2  goo
2                       2                       1  bar

In [44]:
df['Oa08_reflectance:float'].where[df['Oa08_reflectance:float'] < 0] = np.nan

In [53]:
df.loc[df['Oa08_reflectance:float'] < 0, 'Oa08_reflectance:float'] = np.nan
df

   Oa08_reflectance:float  Oa12_reflectance:float    c
0                     0.0                      -3  foo
1                     NaN                       2  goo
2                     2.0                       1  bar

In [54]:
df.loc[df['Oa12_reflectance:float'] < 0, 'Oa12_reflectance:float'] = np.nan
df

   Oa08_reflectance:float  Oa12_reflectance:float    c
0                     0.0                     NaN  foo
1                     NaN                     2.0  goo
2                     2.0                     1.0  bar

In [17]:
num = df._get_numeric_data()

In [19]:
num[num < 0] = np.nan

In [30]:
posicao = df.select_dtypes([np.number]).iloc

In [38]:
indexNames = df[ df < 0 ].index
df.replace(indexNames, np.nan, inplace=True)

TypeError: '<' not supported between instances of 'str' and 'int'

In [40]:
df.loc[df['Oa08_reflectance:float'] < 0] = np.nan

In [41]:
df

   Oa08_reflectance:float  Oa12_reflectance:float    c
0                     0.0                    -3.0  foo
1                     NaN                     NaN  NaN
2                     2.0                     1.0  bar